.signalTabSelect {
	display: flex;
	gap: 1rem;
	overflow-x: auto;
	position: relative;
}

.signalTabSelect__options {
	display: flex;
	flex-direction: row;
	gap: 0;
	font-size: var(--fs-s);
	list-style: none;
}

.signalTabSelect__option {
	max-width: 200px;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-left: 1px solid var(--info-color);
	border-right: 1px solid var(--info-color);
	padding: 0.5rem 1rem;
	overflow: hidden;
	cursor: pointer;
}
.signalTabSelect .signalTabSelect__option:first-child {
	border-left: none;
}
.signalTabSelect .signalTabSelect__option:last-child {
	border-right: none;
}
.signalTabSelect__option--selected {
	color: var(--theme-bg-color);
	background-color: var(--secondary-color);
}

.signalTabSelect__arrow {
	--margin: -1rem;

	background-color: var(--theme-bg-color);
	border: none;
	padding: 0 0.25rem;
	cursor: pointer;
	position: sticky;
	top: 0;
	transition: color 200ms ease;
}
.signalTabSelect__arrow:hover {
	color: var(--secondary-color);
}

.signalTabSelect__arrow::after {
	--size: 1rem;
	--direction: right;

	content: "";
	width: var(--size);
	background: linear-gradient(to var(--direction), var(--theme-bg-color), transparent);
	position: absolute;
	top: 0;
	bottom: 0;
}

.signalTabSelect__arrow--left {
	margin-right: var(--margin);
	left: 0;
}
.signalTabSelect__arrow--left::after {
	--direction: right;

	right: calc(-1 * var(--size));
}
.signalTabSelect__arrow--right {
	margin-left: var(--margin);
	right: 0;
}
.signalTabSelect__arrow--right::after {
	--direction: left;

	left: calc(-1 * var(--size));
}
