.function {
	background-color: var(--info-color-light);
	border-radius: var(--br-l);
	padding: 0.5rem 1rem;
}

.function__header {
	flex: 1;
	display: flex;
	gap: 1rem;
	align-items: center;
	position: relative;
}

.function__header__main {
	flex: 1;
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.function__options {
	margin-left: auto;
}

.function__option--danger {
	color: var(--danger-color);
}

.function__body {
	margin-left: 1.5rem;
}

.function__subtitle {
	margin-bottom: 0.5rem;
}

.function__settings__name {
	max-width: 500px;
	display: flex;
	gap: 2rem;
	margin-bottom: 1.5rem;
}

.function__settings__type {
	max-width: 300px;
}
.function__settings__type .select__selected__input::first-letter,
.function__settings__type .select__option::first-letter {
	text-transform: uppercase;
}

.function__params__container {
	display: flex;
	gap: 5rem;
	align-items: flex-start;
}

.function__inputs__container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.function__inputs__input .input__label {
	width: 6rem;
	font-size: var(--fs-s);
}

.function__param--const {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.function__params__info {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	font-size: var(--fs-xs);
	background-color: var(--info-color);
	border-radius: var(--br);
	padding: 0.75rem;
}

.function__params__info__row {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
}
