.import__main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.import__settings__inputs {
	display: flex;
	gap: 5rem;
}

.import__settings__delimiter {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.import__settings__delimiter__input {
	margin-left: 2rem;
}

.import__file--dragover {
	outline: 0.25rem dashed var(--secondary-color);
}

.import__file__type {
	margin-bottom: 1.5rem;
}

.import__file__input .input__input {
	border: none;
	padding-inline: 0;
}

.import__parsing__window {
	margin-bottom: 1.5rem;
}

.import__parsing__inputs {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-left: 1.5rem;
}

.import__button {
	width: fit-content;
}
