.elementSortElement:active {
	cursor: grabbing;
}
.elementSortElement--dragging {
	opacity: 0.5;
	animation: vibration 100ms linear infinite alternate;
}

@keyframes vibration {
	from {
		translate: -0.25rem 0;
	}
	to {
		translate: 0.25rem 0;
	}
}
