.header {
	background-color: var(--theme-bg-color);
	border-bottom: 1px solid var(--info-color);
	padding: 0.75rem 1rem;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.header__container {
	display: flex;
	gap: 3rem;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: flex;
	gap: 1rem;
	align-items: center;
	font-weight: 500;
	text-decoration: none;
	color: inherit;
}

.header__logo__img {
	height: 2rem;
}

.header__menu {
	display: flex;
	gap: 3rem;
	align-items: center;
	font-size: var(--fs-s);
	font-weight: 500;
	list-style: none;
}

.header__menu a {
	display: inline-flex;
	gap: 0.5rem;
	align-items: center;
	text-decoration: none;
	color: inherit;
	transition: color 200ms ease;
}
.header__menu a:hover,
.header__menu a.active {
	color: var(--secondary-color);
}

.header__menu__item__settings {
	color: inherit;
	margin-left: -2rem;
}

.header__ham {
	display: none;
	border: 0.1rem solid var(--info-color);
	padding: 0.75rem;
}

@media screen and (max-width: 576px) {
	.header__nav {
		max-height: 0;
		background-color: var(--theme-bg-color);
		border-top: 1px solid var(--info-color);
		border-bottom: 1px solid var(--info-color);
		padding: 0 1rem;
		overflow: hidden;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		transition: max-height 300ms ease, padding 300ms ease;
	}
	.header__nav--show {
		display: block;
		max-height: 200px;
		padding: 1rem;
	}

	.header__menu {
		flex-direction: column;
		gap: 1.5rem;
	}

	.header__ham {
		display: inline-flex;
	}
}
