.accordionBody {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 500ms ease;
}
.accordionBody--open {
	grid-template-rows: 1fr;
}

.accordionBody__content {
	overflow: hidden;
}
