.input {
	display: inline-flex;
	position: relative;
}

/* #region Directions */
.input--vertical {
	flex-direction: column;
	gap: 0.25rem;
}
.input--horizontal {
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}
/* #endregion */

/* #region Variants */
.input--secondary {
	--border-color: var(--secondary-color);
}
.input--accent {
	--border-color: var(--accent-color);
}

.input__container {
	--unit-width: 2rem;

	position: relative;
}
/* #endregion */

/* #region Full width */
.input--full {
	width: 100%;
}
.input--full .input__container {
	flex: 1;
}
.input--full .input__input {
	width: 100%;
}
/* #endregion */

.input__label {
	white-space: nowrap;
}

.input__input {
	--width: 10rem;

	width: var(--width);
	background-color: var(--primary-color);
	border: 0.1rem solid var(--info-color);
	border-radius: var(--br);
	padding: 0.3rem 0.75rem;
	transition: border-color 200ms ease;
}
/* #region Hide arrows on type number */
.input__input::-webkit-outer-spin-button,
.input__input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.input__input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}
/* #endregion */
.input__container:has(.input__unit) .input__input {
	padding-right: calc(var(--unit-width) + 0.75rem);
}
.input__input:focus,
.input__input:not(:placeholder-shown) {
	border-color: var(--border-color);
	outline: none;
}
.input__input:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.input__unit {
	width: var(--unit-width);
	display: grid;
	place-items: center;
	font-size: var(--fs-xs);
	background-color: var(--info-color);
	position: absolute;
	top: 0.1rem;
	bottom: 0.1rem;
	right: 0.1rem;
}
.input__input:focus + .input__unit,
.input__input:not(:placeholder-shown) + .input__unit {
	border-radius: 0 var(--br-s) var(--br-s) 0;
}
