@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Varaibles / custom properties */
:root {
	/* Dimensions */

	/* Font size */
	--fs-xs: 0.9rem;
	--fs-s: 0.95rem;
	--fs: 1rem;
	--fs-l: 1.1rem;
	--fs-xl: 1.25rem;

	/* Colors */
	/* variants */
	--primary-color: #fff;
	--secondary-color: #005a99;
	--accent-color: #2fa738;
	--info-color: lightgray;
	--success-color: green;
	--danger-color: darkred;
	--warning-color: orange;
	--text-color: #000f1a;

	/* Border-radius */
	--br-s: 0.15rem;
	--br: 0.3rem;
	--br-l: 0.5rem;
	--br-pill: 999rem;
}

html {
	scroll-behavior: smooth;
}

body {
	--theme-text-color: var(--text-color);
	--theme-bg-color: var(--primary-color);

	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	color: var(--theme-text-color);
	background-color: var(--theme-bg-color);
}

a {
	font-family: inherit;
}

input,
button {
	font-family: inherit;
	font-size: 1rem;
	color: inherit;
}
