.datasetTabSelect {
	display: flex;
	gap: 1rem;
	overflow-x: auto;
	position: relative;
}

.datasetTabSelect::-webkit-scrollbar {
	height: 0.33rem;
	background-color: lightgray;
	border-radius: var(--br-pill);
}
.datasetTabSelect::-webkit-scrollbar-thumb {
	background-color: gray;
	border-radius: var(--br-pill);
}

.datasetTabSelect__options {
	display: flex;
	font-size: var(--fs-s);
	list-style: none;
}

.datasetTabSelect__option {
	white-space: nowrap;
	border-left: 1px solid var(--info-color);
	border-right: 1px solid var(--info-color);
	padding: 0.5rem 1rem;
	cursor: pointer;
}
.datasetTabSelect .datasetTabSelect__option:first-child {
	border-left: none;
}
.datasetTabSelect .datasetTabSelect__option:last-child {
	border-right: none;
}
.datasetTabSelect__option--selected {
	color: var(--theme-bg-color);
	background-color: var(--secondary-color);
}

.datasetTabSelect__arrow {
	--margin: -1rem;

	background-color: var(--theme-bg-color);
	border: none;
	padding: 0 0.25rem;
	cursor: pointer;
	position: sticky;
	top: 0;
	transition: color 200ms ease;
}
.datasetTabSelect__arrow:hover {
	color: var(--secondary-color);
}

.datasetTabSelect__arrow::after {
	--size: 1rem;
	--direction: right;

	content: "";
	width: var(--size);
	background: linear-gradient(to var(--direction), var(--theme-bg-color), transparent);
	position: absolute;
	top: 0;
	bottom: 0;
}

.datasetTabSelect__arrow--left {
	margin-right: var(--margin);
	left: 0;
}
.datasetTabSelect__arrow--left::after {
	--direction: right;

	right: calc(-1 * var(--size));
}
.datasetTabSelect__arrow--right {
	margin-left: var(--margin);
	right: 0;
}
.datasetTabSelect__arrow--right::after {
	--direction: left;

	left: calc(-1 * var(--size));
}
